#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hide-chatbot {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#hide-chatbot:hover {
    color: #ddd;
}

#show-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#show-chatbot:hover {
    background-color: #367c39;
}
